.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 80px;
    z-index: 200;
    padding-top: 10px;
}

.sidebar-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.sidebar-icon:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.sidebar-icon img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-icon div{
    font-size: 10px;
}